<h1>All Songs</h1>


<% @songs.each do |song| %>
  <h3><%= song.artist_name %> by <small class="artist_name"><%= song.artist_name %></small></h3>
  <div class="player btn btn-outline-secondary, html5">
    <%= link_to 'Play Song', song.mp3_file %>
  </div>
  <button><%#= link_to "Play Song", song.mp3_file, class: "html5" %></button>

<% end %>