<h1>All Songs</h1>


<% @songs.each do |song| %>
  <h3><%= song.name %> by <small class="artist_name"><%= song.artist_name %></small></h3>
  <%# <button><%= link_to "Play Song", song.mp3_file, class: "html5" %>
  <% if rails_blob_path(song.mp3_file) %>
    <audio src=<%= rails_blob_path(song.mp3_file) %> controls></audio>
  <% end %>

<% end %>