<div class="center jumbotron">
  <% provide(:title, "Home") %>

  <h1>The Music Sharing App</h1>

  <p>
    Sign up and create an account to start following musicians or share content
  </p>

  <%= link_to "Sign Up", signup_path, class: 'btn btn-lg' %>
</div>